.chat{
    display: flex;
    flex-direction: column;
    flex: 0.75;
    background-color: #363a3f;
    height: 100vh;
}
.chat__input{
    display: flex;
    align-items: center;
    justify-content: space-between;
    color: lightgrey;
    padding: 15px;
    border-radius: 3px;
    background-color: #474b53 ;
    margin: 20px;
    border-top: 1px solid gray;
}
.chat__input > form >input{
    background: transparent;
    border: none;
    outline-width: 0;
    color: white;
    font-size: large;
    padding: 15px;
    width: 100%;
}
.chat__input >form {
    flex: 1;
}
.chat__input> form >button{
    display: none;
}
.chat__inputIcons > .MuiSvgIcon-root{
    padding: 5px;
}
.chat__messages{
    flex: 1;
    overflow: scroll;
}
.chat__messages::-webkit-scrollbar {
    display: none;
}
.chat__messages{
    -ms-overflow-style: none;
    scrollbar-width: none;
}